@import "tailwindcss";

@theme {
  --color-yellow-500: #C79500;
  --color-blue-600: #1D4ED8;
}

body {
  margin: 0;
  padding-top: 64px;
}

.hero-section {
  margin-top: -64px;
  padding-top: 64px;
}

.qs-hero-background {
  background-image: url('/images/Slika.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 45%;
}

@media (max-width: 768px) {
  .qs-hero-background {
    background-position: center 70%;
  }
}

/* Animations pour la galerie */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}