@import "tailwindcss";

body {
  margin: 0;
  padding-top: 64px;
}

.hero-section {
  margin-top: -64px;
  padding-top: 64px;
}

.qs-hero-background {
  background-image: url('/images/Slika.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 45%;
}

@media (max-width: 768px) {
  .qs-hero-background {
    background-position: center 70%;
  }
}
